<%- include('extras/header')  %>


<div class="admin_service">
<div class="admin_service_days">
    <% service.forEach((program) => { %>
        <div class="sunday">
            
            <h2><%= program.meetingname %></h2>
            <P><%= program.meetingdate %></P>
            <p><%= program.meetingvenue %></p>
            <form action="/adminpage" method="post">
                <button name="remove_service" value="<%= program.meetingname %>" type="submit">click to remove</button>
            </form>
            
        </div>
    <% }) %>
    
    <div class="add_service not__active">
        <h2>ADD PROGRAM</h2>
        <form action="/adminpage" method="post" >
            <label for="church_program" class="name"> Add Program:</label><br>
            <input type="text" name="church_program" class="admint"><br>
            <label for="date" class="password">Date:</label><br>
            <input type="text" name="date" class="admint"><br>
            <label for="password" class="confirm_password">Venue:</label><br>
            <input type="text" name="venue" class="admint"><br>
            <button type="submit" value="add_program" name="add_program_button" class="admin_button">Submit</button><br>
            
        </form>
    </div>
</div>
<div><p class="admin_set_button add_service_change">set service date</p></div>
</div>


<div class="admin_message_update">

    <% sermon.forEach((message) =>{ %>
        <div class="admin_card">
            <div class="card__header">
                <h2>Message Update!</h2>
                <small id="date"></small>
            </div>
            <div class="card__body" style='background-image: url("/sermonimages/<%= message.messageImage.filename %>");'>
                <h2 class="card_body_text"><%= message.messageTitle%></h2>
                <p class="card_body_text"><%= message.messageDetails %></p>
            </div>
              
            <form action="/adminpage" method="post">
                <button name="removemessage" value="<%= message.messageTitle%>" type="submit">click to remove</button>
            </form>
        </div> 
    <%}) %>

    <div class="add_sermon not__active">
        <h2>UPDATE MESSAGE</h2>
        <form action="/adminpage" method="post" enctype="multipart/form-data">
            <label for="quotes" class="name">Sermon Title</label><br>
            <input type="text" name= "sermontitle" class="admint"><br>
            <label for="note" class="password">About Sermon</label><br>
            <textarea name="aboutsermon" class="admint" cols="50" rows="10"></textarea><br>
            <label for="note" class="password">Message by:</label><br>
            <input type="text" name="messageby" class="admint"><br>
            <label for="note" class="password">Upload Sermon Image</label><br>
            <input type="file" name="image"  class="admint"><br>
            <button type="submit" name="addmessage" value="add_message" class="admin_button">Submit</button><br>
        </form>
    </div>
    <div><p class="admin_set_button message_change">click here to update message!</p></div>   
</div>


<div class="admin_weekly_quotes">

    <div class="admin_quotes">
        <h1>QUOTE OF THE WEEK:</h1>
        <p>
        <% text.forEach((texts) =>{ %>
                <%= texts.text %>
        <% }) %>
        </p>
        <h1><%= quotes.reference %></h1>
    </div>

    <div class="add_quotes not__active">
        <h2>ADD WEEKLY QUOTES</h2>
        <form action="/adminpage" method="post">
            <label for="quotes" class="name">Select Book</label><br>
            <input type="text" name= "biblebook" class="admint"><br>
            <label for="image" class="password">Select Chapter</label><br>
            <input type="number" name="biblechapter" class="admint"><br>
            <label for="verse" class="confirm_password">Select Verse</label><br>
            <input type="text" name="bibleverse" class="admint"><br>
            <button type="submit" name="addquotes" value="add_quotes" class="admin_button">Submit</button><br>
        </form>
    </div>
    <div><p class="admin_set_button quotes_change">click here to update verse</p></div>
</div>

<div class="upload">
    <div class="upload_block">
        <h1>HOW DID SERVICE GO, IT'S ALWAYS A BLISS TO BE IN THE PRESENCE OF OUR FATHER</h1>
        <a class="prev" onclick="prevImage()">&#10094;</a>
        
        <div class="upload_cards">
<%            upload.forEach((upload) =>{ %>
   
                <div class="uploads">
                    
                    <img src="/sermonimages/<%= upload.uploadImage.filename %>" alt="<%= upload.uploadImage.originalname%>" class="upload_image">
                   
                </div>
                <div class="upload_chance">
                <form action="/adminpage" method="post" enctype="multipart/form-data" >
                    <button name="removeupload"  type="submit" value="<%= upload.uploadImage.originalname%>" >click to remove</button>
                </form>
            </div>
                
          <%  }) %>
            
        </div>
        
        <div class="add_upload not__active">
            <h2>ADD SERVICE IMAGE</h2>
            <form action="/adminpage" method="post" enctype="multipart/form-data">
                <label for="quotes" class="name">Select Image</label><br>
                <input type="file" name="image"  class="admint"><br>
                <button type="submit" name="addupload" value="add_quotes" class="admin_button">Submit</button><br>
            </form>
        </div>
        <div><p class="admin_set_button upload_change">click here to add Image</p></div>
    </div>

    
</div>


<div class="admin_excos">
    <div class="excos">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <%  exco.forEach((executive) => { %>

            <div class="meet__excos fade not__active">
                
                <div class="excos__header">
                    <h2><%= executive.name %></h2>
                </div>
                <div class="excos__body">
                    <img src="/sermonimages/<%= executive.image.filename %>" alt="<%= executive.image.originalname %>" class="card__photo">
                </div>
                <div class="excos__footer">
                    <p><%= executive.post %></p>
                    <a href="#"></a>
                </div>
                <form action="/adminpage" method="post">
                    <button name="removeexco" value="<%= executive.post %>" type="submit">click to remove</button>
                </form>
            
            </div> 
        <%  }) %>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="admin_excos_change not__active ">
        <h2>ADD EXECUTIVES</h2>
        <form action="/adminpage" method="post" enctype="multipart/form-data">
            <label for="postion" class="name">Position</label><br>
            <input type="text" name= "position" class="admint"><br>
            <label for="image" class="password">Upload Image</label><br>
            <input type="file" name="image" class="admint"><br>
            <label for="name" class="confirm_password">Name</label><br>
            <input type="text" name="name" class="admint"><br>
            <button type="submit" name="addexecutive" value="add_excos" class="admin_button">Submit</button><br>
        </form>
    </div>
    <div><p class="admin_set_button excos_change">Update Excos</p></div>
</div>






<script src="/adminpage.js" defer></script>
<%- include('extras/footer') %>