<%- include('extras/header') %>


    <div class="container">
        <div class="service__days">
<%            service.forEach((program) => { %>
                <div class="sunday">
                    <h2><%= program.meetingname %></h2>
                    <P><%= program.meetingdate %></P>
                    <p><%= program.meetingvenue %></p>
                </div>
<%            }) %>
        
        </div>
<%    if(sermon !== []){        %>
        <%    sermon.forEach((message) =>{ %>
            <div class="cards">
                <div class="full__card">
                    <h2>Message Update!</h2>
                    <small id="date"></small>
                </div>
                <div class="card__body">
                    <h2 class="card_body_text"><%= message.messageTitle%></h2>
                    <p class="card_body_text"><%= message.messageDetails %></p>
                </div>
                <div class="card__footer">
                    <p>To download the message</p>
                    <a href="#" class="message__link">Click here</a>
                </div>   
            </div> 
    <%    }) %>
<% }else{ %>
        <div class="admin_card">
            <div class="card__header">
                <h2> NO Message Update!</h2>
                <small id="date"></small>
            </div>  
        </div>
    <% }   %>
            
        </div>
        <div class="weekly__quotes">
        <p>
<%        text.forEach((texts) =>{ %>
                <%= texts.text %>
<%        })  %>
        </p>
        <h1><%= quotes.reference %></h1>
        </div>
        <div class="excos">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <%  exco.forEach((excutive)=> { %>
    
                <div class="meet__excos fade not__active">
                 
                     <div class="excos__header">
                         <h2><%= excutive.post%>></h2>
                     </div>
                     <div class="excos__body">
                         <img src="<%= excutive.image%>" alt="The GEN SEC RCF_UCH" class="card__photo">
                     </div>
                     <div class="excos__footer">
                         <p><%= excutive.name%>></p>
                         <a href="#"></a>
                     </div>
                 
                 </div> 
             
             <%  }) %>
            
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
        </div>
        <div class="dot__head">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
            <span class="dot" onclick="currentSlide(7)"></span>
            <span class="dot" onclick="currentSlide(8)"></span>
        </div>
    </div>
    <div class="salvation__call">
        <p>The Love that Jesus have for you is unreplaccable. He loved to the point that He died for you. He never condemned you and will not condemn you. All you need is to accept His Sacrifice by accepting Him as your Lord and Saviour, and you shall be SAVED!</p>
    </div>
    

    <%- include('extras/footer') %>
